<main>
    <div class="box">
      <div class="buttons">
        <button id="save" type="button">Save</button>
        <button id="load" type="button">Load</button>
        <button id="undo" type="button">↺</button>
        <button id="redo" type="button">↻</button>
        <button id="clear" type="button">Clear</button>
      </div>
      
      
      <div class="dropdown">
        <button class="dropbtn">Size</button>
        <div class="dropdown-content" >
          <div class="size">
            <div class="size button"> 
              <button type="button" value="1"></button>
              <button type="button" value="2"></button>
              <button type="button" value="3"></button>
              <button type="button" value="4"></button>
              <button type="button" value="5"></button>
            </div>
          </div>
        </div> 
      </div> 


      <div class="shapes" style="text-align: center;">
        <button type="button" value="line" style="font-size: medium;">╲</button>
        <button type="button" value="square">⬜</button>
        <button type="button" value="rectangle">▭</button>
        <button type="button" value="triangle">△</button>
        <button type="button" value="circle">◯</button>
        <button type="button" value="diamond">◇</button>
        <button type="button" value="hexagon">⎔</button>
        <button type="button" value="heart">♡</button>
        <button type="button" value="star">☆</button>
        <button type="button" value="parallelogram">▱</button>
        <button type="button" value="arrow">⇧</button>
      </div>

      <div class="colors">
        <button type="button" value="#000000"></button>
        <button type="button" value="#646262"></button>
        <button type="button" value="#5f0808"></button>
        <button type="button" value="#f00000"></button>
        <button type="button" value="#ff9933"></button>
        <button type="button" value="#ffff00"></button>
        <button type="button" value="#048804"></button>
        <button type="button" value="#009fff"></button>
        <button type="button" value="#0167a7"></button>
        <button type="button" value="#cc66cc"></button>
        <button type="button" value="#ffffff"></button>
        <button type="button" value="#c9c6c6"></button>
        <button type="button" value="#c27629"></button>
        <button type="button" value="#f0a8d8"></button>
        <button type="button" value="#fdce35"></button>
        <button type="button" value="#fdefd6"></button>
        <button type="button" value="#92ec56"></button>
        <button type="button" value="#0fffff"></button>
        <button type="button" value="#66afcc"></button>
        <button type="button" value="#d1bcca"></button>
        <button type="button" value=""></button>
        <button type="button" value=""></button>
        <button type="button" value=""></button>
        <button type="button" value=""></button>
        <button type="button" value=""></button>
        <button type="button" value=""></button>
        <button type="button" value=""></button>
        <button type="button" value=""></button>
        <button type="button" value=""></button>
        <button type="button" value=""></button>
      </div>
     
    </div>
    
    <div class="drawing-block">
      <canvas id="paint-canvas" ></canvas>  
    </div>
    
</main>
